.Hero{
    background: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .Hero__container{
        align-self: flex-start;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 40rem;
        width: 40rem;
        margin-top: 5rem;
        margin-left: 4rem;
        gap: 2rem;

        h1{
            text-align: start;
            font-size: 5rem;
            color: black;
        }
        
        span{
            color: #feb028;
        }

        button{
            align-self: flex-start;
                background: linear-gradient(90deg, #fdc13e, #feb028);
                border: none;
                color: white;
                border-radius: 45px;
                box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 700;
                height: 60px;
                letter-spacing: 2.5px;
                outline: none;
                text-transform: uppercase;
                width: 220px;

                &:hover{
                    transform: translateY(-10px);
                    transition: all 0.5s ease;
                    box-shadow: 1px 8px 10px rgba(255, 255, 255, 0.5);
                    color: white;
                }
        }
    }
    &::after{
        content: "";
        background: linear-gradient(to top, rgba(219,230,235,0.95), rgba(26, 26, 26, 0));
        display: block;
        height: 100px;

    }
}